<div class="container index">
  <h1>All our flats </h1>
  <p>All <%= Flat.count %> flats.</p>
  <div class="row">

    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="card-all">
          <h2> <%= flat.name %></h2>
          <%= flat.description %>
          <%= flat.address %>
          <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %>
           R$<%= flat.price_per_night %>
        </div>
      </div>
    <% end %>

  </div>


</div>
