<div class="container index">
  <h1>All our flats </h1>
  <p>All <%= Flat.count %> flats.</p>
  <div class="row">
    <ul>
      <% @flats.each do |flat| %>
        <div class="card">
          <li><h2> <%= flat.name %></h2></li>
          <li><%= flat.description %></li>
          <li><%= flat.address %></li>
          <li><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></li>
          <li> R$<%= flat.price_per_night %></li>
        </div>
      <% end %>
    </ul>
  </div>


</div>
